* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes floatSlow2 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(12px);
  }
}

.animate-floatSlow {
  animation: floatSlow 6s ease-in-out infinite;
}

.animate-floatSlow2 {
  animation: floatSlow2 5s ease-in-out infinite;
}
